<p-toast/>
<header class="w-full bg-white px-5 py-1 flex justify-between items-center ">
  <!-- Left label -->
  <div class="font-bold font-22" [ngStyle]="{ 'color': fontColor }">
    {{ pageTitle }}
  </div>

  <!-- Right user avatar -->
  <div class="flex items-center gap-2">
    <span class="hidden sm:inline font-semibold" [ngStyle]="{ 'color': fontColor }">{{ username }}</span>
    <div class="avatar-wrapper">
      <p-avatar 
        icon="pi pi-user" 
        shape="circle" 
        [ngStyle]="{ 'color': fontColor, 'background-color': '#e9ecef' }"
        class="mr-2 border border-gray-300 cursor-pointer rounded-[15px]"
      >
      </p-avatar>
    </div>
  </div>
</header>
