@import '../../../../styles/variables';

.btn-delete {
    background-color: $btn-red;
    border-radius: 7px;
    min-height: 31px;
    min-width: 90px;
    padding: 5px 10px;
    color: white;
    font-family: 'Urbanist-light';
    font-size: 14px;
}

.btn-confirm {
    background-color: $btn-blue;
    border-radius: 7px;
    min-height: 31px;
    min-width: 90px;
    padding: 5px 10px;
    color: white;
    font-family: 'Urbanist-light';
    font-size: 14px;
}

.btn-cancel {
    background-color: $btn-grey;
    min-height: 30px;
    min-width: 90px;
    border-radius: 7px;
    color: $btn-blue;
    border: none;
    padding: 5px 8px;
    font-size: 14px;
    font-family: 'Urbanist-light';
}

::ng-deep{
.p-dialog-header {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
    font-family: 'Urbanist-bold';

.p-dialog-title
    {
    font-family: "Urbanist-bold";
    color: $font-black;
    font-size: 22px;
    }
}
.p-dialog-content{
    font-family: "Urbanist-regular";
}
}
