@import "../../../../styles/variables";
::ng-deep {
.p-paginator 
{
  justify-content: flex-end;
  font-family: 'Urbanist-semibold';
  padding-right: 0;
  font-size: 14px !important;
  .p-paginator-page
  {
    min-width: 2rem;
    color: $btn-blue;
  }
  .p-inputtext
{
    padding: 0.5rem 0.5rem;
    font-family: 'Urbanist-medium';
    color: $btn-blue;
}
}
.p-dropdown-trigger
{
    width:2rem;
}

}
.perpage-txt
{
    color: #6B7271;
}

::ng-deep .p-paginator .p-paginator-page {
    min-width: 2rem;
    color: #001a4c;
    max-height: 35px;
&.p-highlight
{
    border: 1px solid #7e8ca9;
    border-radius: 7px;
}
}

