.screen-content {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  @media (max-width: 480px) {
    padding: 0.75rem;
  }
}

::ng-deep .active-switch .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: #001a4c !important;
  border-color: #001a4c !important;
}

::ng-deep .inactive-switch .p-inputswitch-slider {
  background-color: #ccc !important;
  border-color: #ccc !important;
}