::ng-deep .active-switch .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: #001a4c !important;
  border-color: #001a4c !important;
}

::ng-deep .inactive-switch .p-inputswitch-slider {
  background-color: #ccc !important;
  border-color: #ccc !important;
}
