@import "../components/_common.scss";
@import "../../styles/variables.scss";
@font-face {
  font-family: 'Urbanist-regular';
  src: url('/assets/fonts/Urbanist/Urbanist-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist-bold';
  src: url('/assets/fonts/Urbanist/Urbanist-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist-medium';
  src: url('/assets/fonts/Urbanist/Urbanist-Medium.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist-semibold';
  src: url('/assets/fonts/Urbanist/Urbanist-SemiBold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist-light';
  src: url('/assets/fonts/Urbanist/Urbanist-Light.ttf');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Urbanist', sans-serif;
}