$text-border-color: #e9ecef;
$title-header-color-light: #64748b;
$text-placeholder-color: #94a3b8;
$title-header-color: #0f172a;
$font-white: #ffffff;
$font-black: #000000;
$btn-grey: #EEF4FF;
$btn-blue: #001a4c;
$btn-red:#bb2027;
$admin-tile-black: #000E19;
$company-tile-red: #FF434E;
$private-tile-blue: #3384C6;
$confirm-green:#34C759;


$font-family-bold: "Inter-Bold";
$font-family-regular: "Inter-Regular";
$font-family-medium: "Urbanist-medium";
$font-family-semi-bold: "Inter-SemiBold";


$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 0.5rem;
